<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}INTERIOR{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DESIGN & FURNITURE FOR LIFE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ГЛАВНАЯ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">О НАС</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">ФАБРИКИ</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">КАТАЛОГИ</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">НОВИНКИ</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="#">НАШИ КЛИЕНТЫ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ПРОЕКТЫ
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Действие</a></li>
            <li><a class="dropdown-item" href="#">Другое действие</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Дополнение</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Отключена</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="static/myapp/img/mebel20.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static/myapp/img/mebel21.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="static/myapp/img/mebel22.jpeg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item" data-bs-interval="2000">
      <img src="static/myapp/img/mebel23.jpeg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item" data-bs-interval="2000">
      <img src="static/myapp/img/mebel24.jpeg" class="d-block w-100" alt="...">
    </div>
      <div class="carousel-item" data-bs-interval="2000">
      <img src="static/myapp/img/mebel25.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Cкульптурный проект <span class="text-muted">подходящий по любой стиль</span></h2>
        <p class="lead">Crossroad - это скульптурный проект, отмечается особым знаком, который вписывается в пространство с сильным динамизмом.
            Его основным элементом является металлическая основа окрашенная в свинцовый матовый цвет, излучая изнутри свет сложного элемента из янтарного стекла.
            Игра света и перекрещивание в нескольких направлениях делают Crossroad светильником, способным стильно характеризовать помещения,
            благодаря своему значительному сценографическому воздействию, представляя собой настоящий функциональный и декоративный элемент, создающий приятную атмосферу и неизгладимое впечатление.
            Коллекция Crossroad включает в себя подвесной светильник и торшер, который позволит создать интересные и согласованные комбинации.</p>
      </div>
      <div class="col-md-5">
          <img src="static/myapp/img/mebel30.jpeg" class="rounded float-start" alt="mebel">
      </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Стиль вне времени <span class="text-muted">создаст в вашем интерьере персонализацию</span></h2>
        <p class="lead">Диван представляет собой легкую основу с объемными пуховыми подушками сидения, со стеганой прострочкой, характерной для типичных предметов 1950-х годов.
            Аксессуары из грубой кожи, такие как подлокотник, держатель для журналов и журнальный столик, являются отличительными элементами универсальной, сдержанной, но очень элегантной концепции.</p>
      </div>
      <div class="col-md-5 order-md-1">
          <img src="static/myapp/img/mebel31.jpeg" class="rounded float-start" alt="mebel">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Стилистической характеристикой <span class="text-muted">с разумным решением</span></h2>
        <p class="lead"> Отличается тонким, легко узнаваемым металлическим каркасом, который встречается в других элементах коллекции Neuilly,
            и мягкой объемной частью сиденья. Стилистической характеристикой пуфа является визуальная элегантность и чистота форм, что делает пуф универсальным в использовании. </p>
      </div>
      <div class="col-md-5">
          <img src="static/myapp/img/mebel32.jpeg" class="rounded float-start" alt="mebel">
      </div>
    </div>
<hr class="featurette-divider">
<div class="card-group">
  <div class="card">
    <img src="static/myapp/img/mebel50.jpeg" class="card-img-top" alt="история">
    <div class="card-body">
      <h5 class="card-title">ИСТОРИЯ</h5>
      <p class="card-text">Falegnameria d’Arte Ferrantelli in 1930 in Alcamo, Sicily. Now in its third generation, Antonino’s grandson Riccardo has continued the artistic woodworking family tradition and established Trame Siciliane together with Sicilian designer Gabriele D'Angelo. Crafted by combining masterful skills and innovative techniques, these modern artistic furniture pieces, and home décor accessories are inspired by the Sicilian tradition and the culture of art and beauty that belongs to the Ferrantelli family..</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/myapp/img/mebel51.jpeg" class="card-img-top" alt="дизайнеры">
    <div class="card-body">
      <h5 class="card-title">ДИЗАЙНЕРЫ</h5>
      <p class="card-text">Fabio Novembre is a world-famous Italian architect and designer thanks to his anti-conventional style, rich in colors, volumes and sophisticated shapes. Novembre manages with great skill to combine architecture and interior design, creating spaces full of meaning and able to convey strong and unique emotions. After graduating in Architecture from the .</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="static/myapp/img/mebel52.jpeg" class="card-img-top" alt="проекты">
    <div class="card-body">
      <h5 class="card-title">ПРОЕКТЫ</h5>
      <p class="card-text">Decoration International Design Awards 2009 as Designer of the Year in the Young Designer Talent category. Today Luca Nichetto, among the most famous Italian Interior designers in the world, boasts important collaborations with numerous companies both nationally and internationally.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
 <hr class="featurette-divider">
<div class= "container-fluid">
         <div class= "row d-inline-flex">
            <!-- Gallery Item 1 -->
            <div class ="col-6 col-sm-4 col-md-3 p-2">
               <div class="card h-100">
                  <img class="card-img-top" src="static/myapp/img/mebel60.jpeg"/>
                  <h4 class="card-title text-center">CIRCUS</h4>
                   <div class="p-3 mb-2 bg-secondary text-white">BONALDO</div>
                  <p class="card-text text-center">Столешница - Мрамор/Основание - массив дерева/Размер - 180 Cтоимость 7 000 euro</p>
                   <a href="#" class="btn btn-primary">КУПИТЬ</a>
                        <button type="button" class="btn btn-success">ИНФО</button>
               </div>
            </div>
            <!-- Gallery Item 2 -->
            <div class ="col-6 col-sm-4 col-md-3 p-2">
               <div class="card h-100">
                  <img class="card-img-top" src="static/myapp/img/mebel61.jpeg"/>
                  <h4 class="card-title text-center">GREENY</h4>
                   <div class="p-3 mb-2 bg-secondary text-white">BONALDO</div>
                   <p class="card-text text-center">Столешница - Мрамор/Основание - массив дерева/Размер - 180 Cтоимость 6 000 euro</p>
                   <a href="#" class="btn btn-primary">КУПИТЬ</a>
                        <button type="button" class="btn btn-success">ИНФО</button>
               </div>
            </div>
            <!-- Gallery Item 3 -->
            <div class ="col-6 col-sm-4 col-md-3 p-2">
               <div class="card h-100">
                  <img class="card-img-top" src="static/myapp/img/mebel62.jpeg"/>
                  <h4 class="card-title text-center">INNESTI</h4>
                   <div class="p-3 mb-2 bg-secondary text-white">BONALDO</div>
                   <p class="card-text text-center">Столешница - Мрамор/Основание - массив дерева/Размер - 180 Cтоимость 5 000 euro</p>
                   <a href="#" class="btn btn-primary">КУПИТЬ</a>
                        <button type="button" class="btn btn-success">ИНФО</button>
               </div>
            </div>
            <!-- Gallery Item 4 -->
            <div class ="col-6 col-sm-4 col-md-3 p-2">
               <div class="card h-100">
                  <img class="card-img-top" src="static/myapp/img/mebel63.jpeg"/>
                  <h4 class="card-title text-center">COP</h4>
                   <div class="p-3 mb-2 bg-secondary text-white">BONALDO</div>
                   <p class="card-text text-center">Столешница - Мрамор/Основание - массив дерева/Размер - 180 Cтоимость 5 000 euro</p>
                   <a href="#" class="btn btn-primary">КУПИТЬ</a>
                        <button type="button" class="btn btn-success">ИНФО</button>
               </div>
            </div>
         </div>
</div>
<div class="ratio ratio-16x9">
  <iframe src="static/myapp/img/isaloni.mp4" title="video" allowfullscreen></iframe>
</div>
<hr class="featurette-divider">
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Введите свою почту </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<hr class="featurette-divider">
    {% block content %}
        <p>Здесь будет дополнительный контент для сайта</p>

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>

<hr class="featurette-divider">
<footer class="container">
    <p>&copy; 2024 веб-приложениe для дипломной работы по Django , Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
</html>